.main {
    position: relative;
    width: 100vw;
    height: calc(100vh - 64px);
}

#add-button {
    bottom: 15px; 
    right: 15px;
    position: fixed;
}

.search-box {
    padding: 15px;
    width: 100vw;
}